socketman: implement open per the TCP RFC

Try to follow RFC9293 (section 3.10.1) as closely as possible and implement `OPEN` as a method.

This is started. It can open active or passive sockets. Passive sockets can be partially unspecified (i.e. remote IP and/or port   can be set to 0, or not specified in the `open()` call.
Currently the return value is only useful for validating the parameters - it doesn't give status on whether the connection was successful or not.

- [x] open `ACTIVE` socket
- [x] open `PASSIVE` socket
- [x] return success or failure based on actual connection establishment success

If `open()` isn't called with the `O_BLOCK` option set, then it will return success as long as none of the parameters were bad.
If it _was_ called with `O_BLOCK`, then it will return success if the connection is established within the timeout period. Otherwise it will return an error.

- [x] add a timeout parameter so blocking requests don't just wait forever


can now open with a millisecond-based timeout (currently hardcoded to 80MHz Fsys)

Except for the  opening passive sockets with a fully specified remote socket, this is implemented.

In the spin2 socket manager, these are implemented as private methods. The public facing API is `connect()` and `disconnect()`, and this will most likely be the way going forward.