socketman: duplicate ACKs recorded by test setup

After `socketman-test.spin` starts up and connects, Wireshark flags some of the segments sent by the Propeller node as duplicate ACKs (notably duplicates of the last step in the 3-way handshake, but others too).

Check that the pointers are being updated correctly and that there isn't some duplicate code somewhere sending out ACK segments when one has already been sent.

These have resolved since the rewrite according to the TCP RFC, however, most all segments received from the test setup are flagged as duplicate ACKs by the Propeller node.

According to RFC9293, section 3.10.7.4, step `fifth, check the ACK field`, `ESTABLISHED` state, it's stated that an ACK is duplicate if the received segment's ACK number field is equal-to  or less-than (`=<`) the `SND.UNA` pointer.
When written with this comparison, ALL incoming segments after synchronization seem to be treated as duplicates. If we use the less-than (`<`) comparison instead, it seems to behave normally. For reference, the project [level-ip](https://github.com/saminiir/level-ip) also compares using less-than.

8e8cb0af31718f796358ba77cc697279abc01b4c seems to fix this. Revisit later if needed.