socketman: implement close per the TCP RFC

Try to follow RFC9293 (section 3.10.4) as closely as possible to implement `CLOSE` as a method.

In the spin2 socket manager, `open()` and `close() ` are implemented as private methods. The public facing API is `connect()` and `disconnect()`, and this will most likely be the way going forward.